.navigatorformtitle span{
    display:inline-block;
    width:200px;
    border-bottom: 1px dotted;
}
.navigatorformtitleCK,navigatorformtitleOrderBy{
}
.navigatorformtitleOrderBy{
}
.navigatorformtitleOrderBy select{
    width:auto;
}


.searchresult{
    margin: 2px;
    width: 230px;
    height: 270px;
    float: left;
    border: 1px solid;
    position: relative;
    padding:0px;
    padding-bottom: 20px;
    position: relative;
    font-size: 12px;
    padding:2px;
}
.searchresultBox{
    height: 90px;
    overflow:auto;
    top:120px;
    width:100%;
    position:relative;
}
.itemtitle{
    text-align: center;
    display:block;
    height:25px;
    /*    overflow:hidden;*/
    color:#ffffff;
    font-size: 12px;
    position:absolute;
    width:100%;
    text-shadow:2px 1px 1px #ffffff;
    z-index:2

}


.itemimage{
    text-align: center;
    height:100px;
    line-height: 100px;
    width:100%;
    overflow:hidden;
    display:block;
    margin:1px;
    position:absolute;
    top:20px;    
    z-index:1;
}
.itemimage img{
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%; 
}

.searchresult4{
    display: block;
    height: 30px;
    width:100%;
    position:absolute;
    bottom:28px;

}
.searchresultfooter{
    bottom:0px;
    position:absolute;
    border-top: 1px solid;
    height: 25px;
    overflow: hidden;
    width:100%
}

.pdf{
    position:absolute;
    right:0px;
    top:0px;
}

.pageresults{
    clear:both
}

/** ------   FORM  -----  **/
.frm_help{
    background-color: #fefcb1
}
#frmedit{
    background-color: #ffffff;
}


/**  ---- VIEW ------ **/
.xmldbtitle{
    font-weight: bold;
}




/***********************************************/
.FNNAV_CategoryShow {
    vertical-align: middle;
    padding:5px;
}
.FNNAV_CategoryShow img{
    vertical-align: middle;   
}
.FNNAV_CategoryFilter{

}

.FNNAV_CategoryFilterItem{
    float:left;
    height:220px;
    border:1px solid;
    margin:5px;
}
.FNNAV_CategoryFilterItemContents{
    height:180px;
    width:200px;
    overflow: auto;
    padding:10px;
}
.FNNAV_pages{
    display: block;
    clear: both;
    margin:10px;
    padding:20px;
}
.FNNAV_pages a{
    border:1px solid;
    text-decoration: none;
}

.FNNAV_pages a.nv_selected{
    font-weight: bold
}
.FNNAV_searchform fieldset{
    border-radius:5px;
}

/*******************************NAVIGATION BAR********************************/
.fnfilesuserbar{
    text-align: left;
    border:0px;
    padding:0px;
    margin: 5px;
}

.fnfilesnavigateButtons{
    padding:5px;
}

.fnfilesnavigateButtons a{
    white-space: nowrap;
    border: 1px outset #000000;
    padding:2px;
    text-decoration: none;
    margin: 0px;
    margin-right: 4px;
}

.fnfilesnavigateButtons a:hover{
    background-color: #dadada;
    color:#000000;
    text-decoration: none;
}

.fnfilesviewButtons a{
    white-space: nowrap;
    border: 1px outset #000000;
    padding:2px;
    text-decoration: none;
    margin: 0px;
    margin-right: 2px;
    border-bottom:0px;
    color:#000000;
}


.fnfilesviewButtons{
    padding:5px;
    padding-bottom: 0px;
    border-bottom: 1px solid;
}
.fnfilesuserbar a.nv_selected{
    background-color: #ffffff;
    font-weight: bold;

}
.fnfilesranks{
    clear: both
}

/*******************************FIELDS*****************************************/
.xmldbcontent {
    display: block;
}

.viewrecordpage {
    width: auto;
    position: relative;
    background-color: transparent;
    text-align: justify;
}


.xmldbtitletypevarchar img {
    vertical-align: middle;
}

.xmldbtitletypevarchar,.xmldbtitletypeselect,.xmldbtitletypedatetime,.xmldbtitletyperadio,.xmldbtitletypestringselect
{
    color: #000000;
    font-weight: bold;
    font-variant: small-caps;
    display: inline-block;
    display: -moz-inline-stack;
    min-width: 200px;
    _width: 200px;
    border-bottom: 1px dotted;
}

.xmldbvaluegroups {
    color: green;
}

.xmldbcontenttext {
    display: block;

}

.xmldbtitletypetext h3,.xmldbcontenttext h4,.xmldbtitletypehtml h3,.xmldbcontenthtml h4
{
    margin-top: 10px;
}

.xmldbtitletypetext {
    display: block;
    font-weight: bold;
}

.frm_title { 
    width: 250px;
    white-space: nowrap;
    border-bottom: 1px #dadada dotted;
}

.frm_title input {
    float: none;
    width: 200px;
    white-space: nowrap;
    border-bottom: 1px #dadada dotted;
    display: inline;
}

.frm_group .frm_title {
    white-space: nowrap;
    float: left;
    width: 200px;
    height: 15px;
    clear: left;
    border-bottom: 1px dotted;
}

.frm_group .frm_title input {
    margin-bottom: 1px;
    height: 12px;
    clear: right;
}

.xmldbcontentfile {
    clear: both;
}
.xmldbcontentos_lenght {
    display: block;
}

.xmldbtitletypeos_lenght {
    color: #000000;
    font-weight: bold;
    font-variant: small-caps;
    display: inline-block;
    display: -moz-inline-stack;
    min-width: 200px;
    _width: 200px;
    border-bottom: 1px dotted;
}

.xmldbcontentresque {
    border: 3px red dotted;
    padding: 5px;
    margin: 5px;
    background-color: yellow;
    color: #000000;
}

.xmldbcontenttimeyear {
    color: green;
}

.xmldbcontenttimeyear .xmldbtitletypevarchar {
    border: 0px;
    width: auto;
}

.xmldbcontenttraveltime {
    color: green;
}

.xmldbcontenttraveltime .xmldbtitletypevarchar {
    border: 0px;
    width: auto;
}

.xmldbcontentshuttle {
    color: green;
}

.xmldbcontentshuttle .xmldbtitletypevarchar {
    border: 0px;
    width: auto;
}

.xmldbcontentshuttle {
    color: green;
}

.xmldbcontentshuttle .xmldbtitletypevarchar {
    border: 0px;
    width: auto;
}

.xmldbcontentshuttle .xmldbtitleoption {
    border: 0px;
    width: auto;
}


.xmldbcontentfile {
    display: block;
}

.xmldbcontentswf {
    display: inline;
}

.xmldbtitlefoto1 {
    display: block;
}

.xmldbtitlelink,.xmldbtitlefile {
    font-weight: bold;
}

.xmldbvaluelink {
    font-weight: normal;
    text-decoration: blink;
}
