body,html{
    height: 100%;

}

/* remove outer padding */
.main .row{
    padding: 5px;
    margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
    padding: 10px 10px 0 10px;
}


nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
        margin-left: 300px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #aaaaaa solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #444444 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color:rgba(163,175,183,.9);
        
       /* color: #777;*/
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li.active.open>a
    {
      /*  background-color: #222c32 !important;        
        background-image: none;*/
    }
    .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
        color: #dddddd !important;
        
    }
    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a{
        background-image: none;
         background-color: #222c32 !important;        
    }


    /*gives sidebar width/height*/
    nav.sidebar{
        width: 300px;
        height: 100%;
        margin-left: -260px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
        margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 800px) {

    /*Allow main to be next to Nav*/
    .main{
        width: calc(100% - 300px); /*keeps 100% minus nav size*/
        margin-left: 300px;
    }

    /*Show all nav*/
    nav.sidebar{
        margin-left: 0px;
        float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #000000;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}


footer {
    background-color: #555;
    color: white;
    padding: 15px;
    bottom:0px;
    width: 100%;
    height:100px;
}
.form-control[type=checkbox]{
    width:auto;
}
.form-control[type=radio]{
    width:auto;
}
form legend{
    width: auto;
    border:0px;
    border-bottom:0px;
}
form fieldset{
    border: 1px solid #dddddd;
    padding: 5px;
}
form .row{
    /*border-bottom: 1px solid #dddddd;*/

}
h3{


}
.panel-body{
    background-color: #ffffff
}
.table-responsive{
    background-color: #ffffff;
    border:1px solid #dddddd;
}
.table-responsive th{
    background-color: #dddddd;
    border: 1px solid #fafafa;

}







.navbar-inverse{
    background-color: #263238;
    background-image:none

}


.navbar-header{
    background-color: #62a8ea;
    color:#ffffff;
}

.navbar-header a{
    color:#ffffff !important;
}

