.art-nav
{
    min-width: 100%;
    position:fixed !important;
    top:0px;
    display:block;
      
}

.art-sheet
{
   background: #FFFFFF;
   border:1px dotted #4E5A5C;
   margin:30px auto 0;
   position:relative;
   cursor:auto;
   z-index: auto !important;
}

.responsive nav.art-nav
{
    min-width: 100%;
    position:fixed !important;
    top:0px;
    display:block;
      
}


.responsive .art-sheet
{
    width: auto !important;
    min-width: 240px !important;
    max-width: none !important;
    margin-right: 1% !important;
    margin-left: 1% !important;
    margin-top: 38px !important;
}