.newsarchive_items{
	text-align:center
}

.newsarchive_items div{
	border:0px;
	display:inline-block
}
.newsarchive_items div{
	display:inline
}
.newsarchive_items>div{
	display:inline-block
}


.newsarchive_item img{
	max-height:64px;
}
.newsarchive_back{
	clear:both;
	margin-top:10px;
}