
#adminonoff     {position:relative;top:0px;right:0px;font-size:x-small;}
.flatnukeadmin
{
	color:				#000000;
	background-color:	#ffaaaa;
	display:			block;
	border-left:		1px #912728 solid;
	border-top:			1px #912728 solid;
	border-right:		1px #912728 solid;
	border-bottom:		1px #912728 solid;
	padding:			0px;
	margin:				1px;
	vertical-align:sub;
}
.flatnukeadmin legend
{
	color:				#000000;
	background-color:	#ffffaa;
	font-size: 12px;
	font-weight: bold;
	display:			block;
	border-left:		1px #912728 solid;
	border-top:			1px #912728 solid;
	border-right:		1px #912728 solid;
	border-bottom:		1px #912728 solid;
	padding:			1px;
	margin:				1px;
	vertical-align:sub;
}

