.fn_admin *{margin:0px;padding:0px;text-decoration:none;font-size: 12px;line-height:20px;}
.fn_admin pre{font:12px monospace;}
.fn_admin a,.fn_admin a:visited, .fn_admin a:hover{text-decoration:none}
.fn_admin h4{background-color:#ffffff;color:#080808;font-size:14px;height:32px;line-height:15px;padding:5px;border:1px solid #dadada;margin-bottom:5px;text-shadow:0px 0px 4px #dadada;position:relative;}
.fn_admin h4 button{float:right;vertical-align:middle;clear:left;}
.fn_admin{border:1px solid #cccccc;text-decoration:none;background-color:#F4F4F4;color:#565656;font:12px "Trebuchet MS";padding:2px;line-height:18px;}
.fn_admin table{border-collapse:collapse}
.fn_admin td{padding:2px;}
.fn_admin input{height:16px;padding:0px;margin:0px;}
.fn_admin button{line-height:12px;padding:3px;background-color: #0085ba;color:#eeeeee;border:1px solid #0590ca;cursor:pointer;background-image: none}
.fn_admin button:hover{background-color: #0590ca}
.fn_admin div{padding:1px;}
.fn_admin fieldset{padding:1px;background-color:#ffffff;}
.fn_admin_ccicon{}
.fn_admin_username{float:left;margin-left:10px;line-height: 22px;}
.fn_admin_username img {height:16px;vertical-align: middle}
#fn_adminonoff{width:100%;position:fixed;bottom:1px;right:0px;height:25px;line-height:25px;padding:2px;z-index:999;text-align:right}
#fn_adminonoff a{background-color:#ffffff;color:#000000;border:1px solid #cccccc;height:18px;display:inline-block;padding:1px;margin:1px;font-size:12px;text-decoration:none}
#fn_adminonoff a{display:inline}
#fn_adminonoff>a{display:inline-block}
#fn_adminonoff img{vertical-align:middle;border:0px;display:inline;width:16px;}
#fn_adminonoff a:hover{border:1px solid #3169C6;text-decoration:none;background-color:#C6D3EF;}
#fn_adminonoff .fn_admin_on{border:1px solid #3169C6;text-decoration:none;background-color:#94cd9d;}
#fn_adminonoff select{vertical-align:middle;border:1px solid #3169C6;color:#000000;border:1px solid #cccccc;background-color:#ffffff;margin:0px;margin-top:1px;margin-left:5px;margin-right:5px;font-size:12px;height:21px;}
#fn_adminoptions{background-color:#F4F4F4;color:#565656;margin-top:20px;text-decoration:none;text-align:left;font-size:12px;border:1px solid #cccccc;padding:10px;}
#fn_adminoptions td,#fn_adminoptions div,#fn_adminoptions select,#fn_adminoptions input, #fn_admin option{color:#565656;font-size:12px;line-height:14px;}
#fn_adminoptions input{vertical-align:middle;background-color:#ffffff;color:#000000;}
#fn_adminoptions a{background-color:#ffffff;color:#000000;border:1px solid #cccccc;height:18px;line-height:18px;display:inline-block;padding:1px;text-decoration:none;}
#fn_adminoptions a{display:inline}
#fn_adminoptions img{vertical-align:middle;border:0px;display:inline;width:16px;}
#fn_adminoptions a:hover{border:1px solid #3169C6;text-decoration:none;background-color:#C6D3EF;}
#fn_adminoptions fieldset{border:1px solid #cccccc;}
.fn_admin_toggle{border:1px solid #cccccc;padding:1px;background-color:#ffffff;line-height:20px;margin:2px;text-align:right}
.fn_admin_toggle div{padding:5px;background-color:#F4F4F4;text-align:left;border-top:1px solid #dadada;}
.fn_editor *{background-color:#ffffff;color:#000000;font-size:12px;line-height:12px;padding:0px;margin:0px;vertical-align:middle;}
.fn_editor{border:1px solid #cccccc;background-color:#ffffff;color:#000000;}
.fn_editor textarea{padding:0px;margin:0px;border:0px;}
.fn_editortitle{font-size:12px;padding:5px;background-color:#F4F4F4;color:#000000;text-align:left;border-bottom:1px solid #cccccc;text-align:center;}
.fn_editortitle b{color:red;background-color:yellow;}
div.fn_editorfooter{background-color:#000000;border:1px solid #ffffff;color:#ffffff;padding:2px;height:25px;line-height:25px;}
div.fn_editorfooter button{padding:0px;border:1px solid #dadada;margin-left:10px;background-color:#e5dac5;color:#000000;font-size:12px;}
div.fn_fnadminsave{border:1px solid #ffffff;color:#ffffff;padding:2px;height:25px;line-height:25px;text-align:right;}
div.fn_fnadminsave button{padding:3px;padding-left:20px;background-image:url("../../images/download.png");background-position:left;cursor:pointer;background-repeat:no-repeat;}
.fn_adminform table{}
td.fn_fnadminformtitle{font-variant:small-caps;}