<?php
$_FN_default_database_driver = "mssql";

$xmldb_mssqlhost = "localhost";
$xmldb_mssqldatabase = "flatnux_test";
$xmldb_mssqlusername = "root";
$xmldb_mssqlpassword = "";
//$xmldb_mssqlport="";


?>
